extends ../layout.pug

block content
  - const hasResults = Boolean(articles.length > 0);
  main
    section.search-page
      .search-page__wrapper
        h1 Поиск
        .search.search-page__form
          form(action='/search' method='POST')
            label
              input(type='text' name='query' placeholder='Что ищем?')
            button.search__button.button.button--transparent(type='submit') Найти
          if (showResults && hasResults)
            each article in articles
              .search__result
                time.search__date(datetime=`${date2HtmlFormat(article.createdDate, true)}`)=article.createdDate
                a.search__link(href=`/articles/${article.id}`)=article.title
        if (showResults && !hasResults)
          p.search-page__empty Ничего не нашлось
